.w960 {
	width: 960px;
	margin: 0 auto;
}
.cart-wrap {
	margin-bottom: 40px;
	background-color: #fff;
	margin-top: 30px;
}
.cart-nav {
	width: 958px;
	line-height: 40px;
	height: 40px;
	border-left: 2px solid #f10180;
	background-color: #f9f9f9;
	.cart-nav-list {
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		height: 38px;
		line-height: 38px;
		li {
			float: left;
			text-align: center;
		}
		.cart-nav-item1 {
			padding-left: 14px;
			width: 252px;
			text-align: left;
			font-size: 16px;
			color: #f10180;
		}
		.cart-nav-item2 {
			width: 300px;
		}
		.cart-nav-item3 {
			width: 100px;
		}
		.cart-nav-item4 {
			width: 145px;
		}
		.cart-nav-item5 {
			width: 100px;
			padding-right: 15px;
		}
	}
}
.cart-main {
	padding-bottom: 20px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	.cart-inner {
		padding-top: 20px;
		margin-right: auto;
		margin-left: auto;
		width: 928px;
		.cart-tit {
			background-color: #ffefdd;
			padding: 10px;
			.discout {
				background-color: #f93;
				display: inline-block;
				width: 40px;
				text-align: center;
				color: #ffff;
				height: 20px;
				line-height: 20px;
				border-radius: 2px;
				margin-right: 6px;
			}
		}
	}
}
.cart-item {
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #f9eee0d6;
	> div {
		float: left;
	}
	.cart-item1 {
		width: 250px;
		height: 74px;
		padding-left: 12px;
		.cart-img {
			float: left;
			height: 72px;
			width: 58px;
			margin-right: 10px;
			img {
				width: 100%;
			}
		}
		.cart-des {
			float: left;
			width: 180px;
			a {
				max-height: 36px;
		    overflow: hidden;
		    display: inline-block;
		    margin-bottom: 4px;
			}
		}
	}
	.cart-item2 {
		width: 300px;
		text-align: center;
		.cur-price {
			span {
				font-size: 14px;
				font-weight: bold;
			}
		}
		.del-price {
			color: #666;
			position: relative;
			left: -2px;
			span {
				text-decoration: line-through;
				font-size: 14px;
			}
		}
	}
	.cart-item3 {
		width: 100px;
		.item3-inner {
			position: relative;
			width: 76px;
			height: 22px;
			border: 1px solid #e3e2e2;
			border-radius: 2px;
			.cart-reduce, .cart-add {
				float: left;
				width: 22px;
				text-align: center;
			}
			.cart-reduce {
				border-right: 1px solid #e3e2e2;
			}
			.cart-add {
				border-left: 1px solid #e3e2e2;
			}
			.cart-num {
				float: left;
		    width: 28px;
		    text-align: center;
		    height: 22px;
		    line-height: 22px;
			}
		}
	}
	.cart-item4 {
		color: #f10180;
		width: 145px;
		text-align: center;
		span {
			font-size: 14px;
			font-weight: bold;
		}
	}
	.cart-item5 {
		width: 100px;
		text-align: center;
		.del-btn {
			color: #333;
		}
	}
}
.yuan {
	font-family: Arial!important;
}
.cart-sum-top {
	padding: 18px 20px 15px;
	border: 1px solid #e2e1e1;
	border-bottom: 0;
	.cart-sum-item {
		position: relative;
		z-index: 1;
		margin-bottom: 5px;
		padding-right: 110px;
		color: #888;
		line-height: 21px;
		text-align: right;
	}
	.pro-money {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		color: #333;
		font-size: 14px;
	}
	.sum-money-wrap {
		@extend .pro-money;
		color: #f10180;
		font-size: 16px;
		font-weight: bold;
		.yuan {
			font-weight:normal;
			font-size: 14px;
		}
	}
	.pro-num {
		color: #f10180;
	}
}
.cart-total-box {
	height: 50px;
	position: relative;
	.cart-total-inner {
		position: relative;
		padding: 14px 270px 14px 20px;
		width: 668px;
		height: 20px;
		border: 1px solid #e2e1e1;
		background-color: #f3f3f3;
		margin-right: 12px;
		text-align: right;
	}
}
.clear-btn {
	position: absolute;
	top: 0;
	right: -1px;
	width: 250px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 0;
	z-index: 1;
	background-color: #f10180;
  border: 1px solid #f10180;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  &:hover {
  	color: #fff;
  }
}