.details-box {
  margin-bottom: 40px; }
  .details-box .details-nav {
    padding: 11px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.details-left {
  float: left; }
  .details-left .details-pic-big {
    width: 420px;
    height: 420px;
    position: relative;
    z-index: 99;
    margin-bottom: 7px;
    background-color: #f7f7f7; }
    .details-left .details-pic-big img {
      width: 100%; }

.details-sm-box {
  text-align: center; }
  .details-sm-box .details-pic-sm {
    display: inline-block; }
    .details-sm-box .details-pic-sm li {
      float: left;
      width: 62px;
      height: 62px;
      margin: 0 7px 0 0;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border: 1px solid #f2f2f2;
      background-color: #f7f7f7; }
      .details-sm-box .details-pic-sm li:hover {
        border-color: #f00; }
      .details-sm-box .details-pic-sm li img {
        width: 100%; }

.details-right {
  float: right;
  width: 550px; }
  .details-right .details-tit {
    color: #4d4d4d;
    margin-bottom: 10px; }
    .details-right .details-tit h5 {
      font-size: 16px;
      color: #333;
      max-height: 40px;
      overflow: hidden;
      line-height: 20px;
      margin-top: 8px;
      margin-bottom: 8px;
      font-weight: 700; }
    .details-right .details-tit p {
      font-size: 14px;
      color: #999; }

.details-price-box {
  margin-bottom: 20px;
  padding-bottom: 15px;
  background: url("../img/det-bg.png") no-repeat;
  height: 112px; }
  .details-price-box .d-price-wrap {
    font-family: arial;
    font-size: 48px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    color: #f43499;
    line-height: 1.2;
    margin-top: 13px; }
    .details-price-box .d-price-wrap em {
      font-size: 20px; }
    .details-price-box .d-price-wrap span {
      position: relative;
      left: -15px; }
  .details-price-box .discout-wrap {
    display: inline-block;
    text-align: center; }
    .details-price-box .discout-wrap span {
      display: inline-block; }
    .details-price-box .discout-wrap .cur-discout {
      color: #f43499;
      border-radius: 3px;
      text-align: center;
      border: 1px solid #f43499;
      padding: 0 5px; }
    .details-price-box .discout-wrap .origin-price {
      padding: 0 20px 0 10px;
      color: #666;
      font-size: 14px;
      text-align: center; }
      .details-price-box .discout-wrap .origin-price span {
        text-decoration: line-through; }

.discout-info {
  padding: 0 20px; }
  .discout-info dt, .discout-info dd {
    float: left; }
  .discout-info dl {
    margin-bottom: 3px; }
  .discout-info dt {
    width: 62px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #f3b241;
    color: #fff;
    font-size: 12px;
    margin-right: 5px; }
  .discout-info dd {
    max-width: 320px;
    position: relative;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px; }
  .discout-info .ck-more {
    cursor: pointer;
    color: #f43499; }
    .discout-info .ck-more i {
      position: relative;
      top: 3px;
      font-size: 14px; }

.des-item dt {
  float: left;
  width: 40px;
  text-align: left;
  color: #999;
  line-height: 32px;
  overflow: hidden; }
.des-item dd {
  float: left; }
.des-item .delivery {
  height: 32px;
  line-height: 32px;
  color: #666; }
.des-item .det-size-wrap {
  width: 354px;
  position: relative;
  padding-right: 120px; }
.des-item .address-box {
  position: relative;
  width: 250px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  position: relative; }

.address-tit {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .address-tit .iconfont {
    font-size: 14px;
    float: right;
    margin-right: 12px;
    position: relative;
    top: 3px; }

.address-tab-box {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -188px;
  width: 486px;
  top: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px 15px 0; }
  .address-tab-box h5 {
    position: relative;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .address-tab-box h5 span {
      display: inline-block;
      width: 70px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border-right: 1px solid #ccc;
      border-top: 2px solid #f00; }
    .address-tab-box h5 em {
      position: absolute;
      width: 70px;
      height: 2px;
      background: #fff;
      left: 0;
      top: 32px; }
  .address-tab-box .white-line {
    position: absolute;
    width: 250px;
    height: 2px;
    background: #fff;
    top: -1px;
    left: 62px; }
  .address-tab-box .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #666; }

.address-list {
  margin: 20px 0 20px 13px; }
  .address-list .address-item {
    width: 78px;
    margin-right: 6px;
    float: left;
    margin-bottom: 8px; }
    .address-list .address-item a {
      display: inline-block;
      border: 1px solid #fff;
      padding: 0 10px;
      height: 20px;
      line-height: 20px; }

.size-item {
  float: left;
  position: relative;
  min-width: 52px;
  _width: 52px;
  height: 26px;
  font-size: 12px;
  padding: 1px 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  background-color: #fff; }
  .size-item .size-tab {
    display: none;
    position: absolute;
    padding: 8px 10px 20px;
    width: 367px;
    border: 1px solid #dbdada;
    border-radius: 2px;
    left: -161px;
    z-index: 100;
    background-color: #fff;
    top: 33px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font: 12px/18px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #4d4d4d;
    z-index: 50; }
  .size-item:hover .size-tab {
    display: block;
    z-index: 100; }

.size-table {
  border-collapse: separate;
  border-spacing: 1px; }
  .size-table th, .size-table td {
    min-width: 60px;
    height: 24px;
    line-height: 24px;
    color: #999;
    text-align: center;
    white-space: nowrap;
    background-color: #f5f5f5; }

.det-num-wrap {
  width: 73px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #b3b3b3;
  text-align: center; }
  .det-num-wrap .des-reduce, .det-num-wrap .des-add {
    float: left;
    background-color: #f9f8f8;
    color: #dad8d8;
    width: 20px; }
  .det-num-wrap .det-num {
    float: left;
    width: 30px;
    font-size: 12px;
    border-left: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
    height: 28px;
    line-height: 28px;
    text-align: center; }

.des-item {
  margin-top: 5px;
  padding: 12px 11px 0; }

.add-cart-wrap {
  margin-top: 20px;
  margin-left: 40px; }
  .add-cart-wrap .add-cart-btn {
    height: 46px;
    cursor: pointer;
    line-height: 46px;
    color: #fff;
    background-color: #f10180;
    border: 1px solid #f10180;
    width: 198px;
    outline: none;
    font-size: 20px;
    border-radius: 3px; }
    .add-cart-wrap .add-cart-btn i {
      font-size: 20px; }

/*# sourceMappingURL=details.css.map */
