body {
	background-color: #fdfbfe;
}
.login-wrap {
	width: 1000px;
	margin: 40px auto;
}
.login-s1 {
	background: url("../img/login-icon.png") no-repeat;
}
.login-top {
	padding-bottom: 40px;
	a {
		float: left;
		@extend .login-s1;
		background-position: 0 0;
		width: 313px;
		height: 53px;
	}
	span {
		float: right;
    margin-top: 12.5px;
    @extend .login-s1;
    background-position: -317px 0;
    width: 445px;
    height: 28px;
	}
}
.login-main {
	height: 600px;
	background: url("../img/login-bg.jpg") center no-repeat;
}
.login-box {
	float: right;
	width: 300px;
	padding-top: 40px;
	padding-right: 74px;
	.login-tit {
		font-size: 14px;
		margin-bottom: 24px;
		em {
			float: right;
		}
		a {
			float: right;
			font-size: 14px;
			color: #f10180;
		}
		span {
			float: left;
		}
	}
	.login-item {
		position: relative;
		.login-ipt {
			height: 18px;
			line-height: 18px;
			padding: 6px 10px;
			width: 278px;
			border: 1px solid #b2b2b2;
		}
		.error-ipt {
			border: 1px solid #f64a4a;
		}
		.error {
			display: none;
			position: absolute;
			right: 8px;
			top: 6px;
			width: 19px;
			height: 20px;
			background: url("../img/error-icon.png");
		}
		.success {
			background: url("../img/success-icon.bmp");
		}
		.code-error {
			right: 134px;
		}
		.phone-code {
			width: 150px;
			margin-right: 10px;
		}
		.get-code {
	    display: inline-block;
			padding: 0 12px;
			width: 88px;
			height: 30px;
			line-height: 30px;
			border: 1px solid #d0d0d0;
	    color: #999;
	    background: #d0d0d0;
	    cursor: not-allowed;
	    border-radius: 3px;
	    text-align: center;
		}
		.active {
			color: #e00078;
			background-color: #ffbee0;
			border: 1px solid #ffbee0;
			cursor: pointer;
		}
		.login-tips {
			color: #f64a4a;
	    min-height: 19px;
	    max-height: 36px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    margin-top: 2px;
	    margin-bottom: 5px;
	    .pwd-strong {
	    	background-color: #e0e0e0;
  	    width: 30px;
  	    height: 8px;
  	    display: inline-block;
  	    overflow: hidden;
	    }
		}
    .pwd-strong-inner {
    	width: 10px;
	    background-color: #f64a4a;
	    display: inline-block;
	    height: 8px;
	    line-height: 8px;
	    position: relative;
	    top: -6px;
    }
	}
	.accept-terms {
		height: 74px;
		.accept-ipt {
			position: relative;
	    width: 16px;
	    height: 16px;
	    top: 3px;
		}
		.accept-tips {
			display: none;
			color: #f00;
		}
	}
  span {
  	display: none;
  }
}
.login-tips {
	.weak-wrap {
		margin-right: 4px;
	}
	.show {
		display: inline-block;
		.pwd-strong-inner {
			display: inline-block;
		}
		.pwd-strong-weak {
			display: inline-block;
		}
		.pwd-strong-mid {
			display: none;
		}
		.pwd-strong-max {
			display: none;
		}
	}
	.show + #pwd-msg {
		display: inline-block;
	}
	.mid-wrap {
		.pwd-strong-weak {
			display: none;
		}
		.pwd-strong-mid {
			display: inline-block;
		}
		.pwd-strong-max {
			display: none;
		}
		.pwd-strong-inner {
			width: 20px;
			background-color: #f9a123;
		}
	}
	.strong-wrap {
		.pwd-strong-inner {
			width: 30px;
			background-color: #49b05c;
		}
		.pwd-strong-weak {
			display: none;
		}
		.pwd-strong-mid {
			display: none;
		}
		.pwd-strong-max {
			display: inline-block;
		}
	}
}
.forget-box {
	.remerber-box {
		float:left;
		.remerber-btn {
			position: relative;
			width: 16px;
			height: 16px;
			top: 3px;
		}
		label {
			font-size: 14px;
		}
	}
	.forget-btn {
		position: relative;
		top: 2px;
		float:right;
		color: #1d94d1;
	}
}
.login-btn {
	background-color: #f10180;
	border: 1px solid #f10180;
	outline: none;
	color: #fff;
	border-radius: 3px;
	display: block;
	height: 46px;
	line-height: 46px;
	text-align: center;
	width: 100%;
	font-size: 18px;
	margin-top: 30px;
	cursor: pointer;
	opacity: 1;
	transition: opacity .3s linear;
	&:hover {
		opacity: .7;
	}
}
.sites-login {
	margin-top: 60px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 4px;
}
.sites-link {
	a {
		float: left;
		width: 24px;
		height: 24px;
		background: url("../img/login-icon.png");
		margin-right: 8px;
	}
	.sites-link1 {
		background-position: -291px -57px;
	}
	.sites-link2 {
		background-position: -347px -57px;
	}
	.sites-link3 {
		background-position: -151px -57px;
	}
	.sites-link4 {
		background-position: -207px -57px;
	}
	.more-sites {
		background: #fff;
		width: 40px;
		color: #666;
		line-height: 24px;
		cursor: pointer;
		&:hover {
			color: #f10180;
		}
	}
}
.copy-login {
	text-align: center;
	color: #767074;
	background-color: #fdfbfe;
}
.by-email {
	float:right;
	margin: 18px 0 0;
	color: #1d94d1;
	cursor: pointer;
}